.about {
    position: relative;
    top: 70px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    padding: 0px 30px;
    margin-bottom: 100px;
}

.body {
    width: 33vw;
    padding: 30px 30px;
    border-radius: 10px;
    border: solid 2px #f8f8f8;
}

.search {
    background: #a1b2bd;
}

.searchbox label {
    font-size: 14px;
    color: #787878;
}

.card {
    padding: 4px;
    display: flex;
    align-items: center;
    margin-bottom: 4px;
    border-bottom: 1px dotted rgba(174, 205, 226, 0.605);
}

.name_country {
    padding: 12px;
    color: #575757;
    padding: 0px 24px;

}

.name_country h4 {
    color: #000000;
}

.name_country p {
    font-size: 12px;
}

.img-container {
    border-radius: 50%;
}

.card_img {
    border-radius: 50%;
}