.info {
    width: 100%;
}

.info-header {
    width: 100%;
    margin-top: 5%;
    height: 100px;
}

.info-header img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.info-header h1 {
    position: absolute;
    top: 100px;
    left: 4%;
    color: #ffffff;
    font-weight: 800;
}

.info-story {
    padding: 3%;
}

.info-story p {
    font-size: 18px;
    line-height: 26px;
    font-weight: 500;
    color: rgb(71, 71, 71);
}

.partner-section {
    width: 100%;
    padding: 2% 1%;
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
}

.partner-section h2 {
    text-align: center;
    padding-bottom: 12px;
    color: #2c2c2c;
    font-size: 32px;
    font-weight: 700;
}

.section-content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.section-content img {
    width: 100%;
    height: 100%;
}

.dpgs {
    width: 100px;
}

.isacake {
    width: 150px;
}

.isacaug {
    width: 180px;
}

.isacasa {
    width: 170px;
}

.isacarw {
    width: 138px;
}

.become {
    width: 300px;
    padding: 10px;
    background-color: #941313;
    color: #f8f8f8;
    display: flex;
    align-items: center;
    justify-content: center;
}

.become:hover {
    cursor: pointer;
    background: #000000;
}

.become img {
    height: 50px;
    width: 50px;
    margin-right: 16px;
}

.become a {
    text-decoration: none;
    color: #ffffff;
}

.become h3 {}

.skills-report {
    padding: 2%;
}

.rs-title {
    padding-bottom: 12px;
    padding-left: 2.3%;
    font-size: 40px;
    font-weight: 900;
    line-height: 48px;
    color: #8e0303;
    font-family: 'Fann Grotesque Pro', sans-serif
}


.report-container {
    display: flex;
    justify-content: space-around;
}

.report-img {
    height: 450px;
}

.report-img img {
    height: 100%;
}

.report-summary {
    background-color: #eeeeee;
    padding: 3%;
    width: 70%;
}

.report-header {
    display: flex;
    align-items: center;
}

.rs-content {
    width: 80%;
    background-image: url("");
}

.rs-paragraph {
    font-size: 24px;
    padding: 30px 0;
}

.read-report-btn {
    border: 2px solid #941313;
    padding: 1% 6%;
    width: fit-content;
}

.read-report-btn:hover {
    cursor: pointer;
    border-top: 1px solid #ffffff;
    border-left: 1px solid #ffffff;
    border-right: 2px solid #941313;
    border-bottom: 2px solid #941313;
}

.read-report-btn a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    color: #000000;
}

.report-header h2 {
    font-size: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #941313;
}

.report-header p {
    font-size: 32px;
    font-weight: bold;
}

.note-icon {
    margin-right: 30px;
    background: #000000;
    padding: 10px;
}

.note-icon img {
    height: 50px;
    width: 50px;
}

.sdgs {
    margin-top: 1%;
    padding-top: 2%;
    border-top: 1px solid #eeeeee;
}

.sdgs img {
    width: 250px;
    height: 250px;
}

.sdgs h2 {
    padding-left: 4%;
    font-size: 36px;
    font-weight: 600;
    line-height: 43px;
    padding-bottom: 1%;
}

.sdg-content {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
    padding: 2%;
}

.sdg4,
.sdg5,
.sdg8 {
    width: 30%;
    border-radius: 10px;
}

.sdg8 {
    text-align: center;
    background: #8E1737;
}

.sdg5 {
    text-align: center;
    background: #FF3A21;
}

.sdg4 {
    text-align: center;
    background: #C21727;
}

.sdg4 span {
    font-size: 32px;
    color: #ffffff;
    font-weight: 900;
}

.sdg4 p {
    text-transform: uppercase;
    font-size: 30px;
    color: #ffffff;
}

.sdg4 img {
    object-fit: cover;
}

.we-want-to-partner {
    border-top: 1px solid #dadada;
}

.we-want-to-partner h2 {
    color: #8e0303;
    font-size: 36px;
    font-weight: 900;
    line-height: 43px;
    text-transform: uppercase;
}

.we-want-header {
    width: 30%;
    margin-left: 3%;
    margin-top: 2%;
    padding: 1% 0;

}

.we-want-header span {
    color: #000000;
    font-weight: 900;
    line-height: 43px;
    font-size: 36px;
    text-transform: uppercase;
}


.we-want-body {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2%;
}

.we-want-paragraph {
    width: 45%;
    margin-left: 3%;
    margin-top: 1%;
    padding: 12px;
}

.we-want-img {
    width: 50%;
    display: flex;
}

.line {
    width: 100px;
    height: 2px;
    background: #000000;
    position: absolute;
    left: 50%;
}

.hr-line {
    width: 150px;
    height: 2px;
    background: #000000;
    position: absolute;
    left: 6%;
}

.other {
    left: 5%;
    height: 3px;
}

.we-want-paragraph p {
    font-size: 18px;
    line-height: 26px;
    font-weight: 500;
    color: rgb(71, 71, 71);
}

.bullet {
    height: 20px;
    margin-top: 4px;
    margin-left: 2%;
    padding-right: 12px;
    padding-top: 6px;
}

.lowerImg {
    width: 100%;
}