.partners {
    padding: 3% 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #f9f9f9;
}

.partner_header {
    display: flex;
    width: 70%;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    flex-direction: column;
}

.partner_header span {
    margin: 3% 0;
    color: #353535;
    font-weight: 300;
}

.partner_content {
    width: 80vw;
    padding-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.partner_imgka {
    width: 14%;
    height: 1%;
}

.partner_imgsa {
    width: 13%;
    height: 1%;
}

.partner_imgrw {
    width: 10%;
    height: 1%;
}

.partner_img {
    width: 8%;
    margin-left: 20px;
    object-fit: cover;
}

.large {
    width: 10%;
    height: 20%;
}