.partners {
    padding: 1% 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #fdfdfd;
}

.partner_header {
    display: flex;
    width: 90%;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 700;
    color: #353535;
    flex-direction: column;
}

.partner_header span {
    margin: 1% 0;
    color: #353535;
    font-weight: 300;
}

.partner_content {
    display: flex;
    width: 50%;
    justify-content: space-between;
}

.slide {
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
}


.partner_imgka {
    width: 100%;
}

.partner_imgsa {
    width: 100%;
}

.partner_imgrw {
    width: 80%;
}

.partner_img {
    width: 60%;
    margin-left: 20px;
    object-fit: cover;
}

.large {
    width: 80%;
}