.banner {
    padding: 5% 10%;
    background: #000000;
    display: flex;
    justify-content: space-between;
    color: #ebebeb;
    position: relative;
    bottom: 0;
}

.left {
    width: 40%;
}

.right {
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.footerList {
    list-style: none;
}

.right h3 {
    color: #ffffff;
}

.right p {
    padding: 10px 0px;
    font-size: 14px;
}

.bannerLogo {
    height: 70px;
    width: 300px;
    object-fit: cover;
}

.lastUpdate {
    font-size: 12px;
    font-weight: 300;
    padding: 12px 0px;
}

.period {
    font-weight: 600;
}

.green {
    color: #4eb801;
    font-weight: 700;
}

.right a {
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
}

.right a:hover {
    font-weight: 700;
    border-bottom: none;
}

.highlight {
    color: #ffffff;
    font-weight: 700;
}

.readme {
    width: fit-content;
    display: flex;
    align-items: center;
}